<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
	  <add name="bankapp" connectionString="Data Source=DESKTOP-1J480QU;User ID=sa;Password=Abc123.;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False;Initial Catalog=bankappdb;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>