<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="bankappEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-1J480QU;initial catalog=bankapp;user id=sa;password=Abc123.;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	  <add name="bankapp" connectionString="Data Source=DESKTOP-1J480QU;User ID=sa;Password=Abc123.;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False;Initial Catalog=bankapp;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>